body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

h1,
h2,
h3 {
    text-align: center;
    color: gold;
    padding-bottom: 5px;
    margin-top: 0;

}

.menu-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 20px;
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
    border: 3px solid gold;
    border-radius: 20px;
}

.menu-flexbox a {
    color: gold;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 17px;
    font-size: 0.9em;
}

.menu-flexbox a:hover {
    background-color: rgb(255, 215, 0, 0.2);
    color: white;
}

#carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
}

#imagenCarrusel {
    width: 100%;
    height: auto;
    max-height: 400px;
}


textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gold;
    background-color: rgb(255, 213, 0);
}

#formularioContacto {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 215, 0, 0.5);
}

#formularioContacto>div {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    text-align: left;
}

#formularioContacto label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    flex-direction: row;
    margin-right: 10px;
}

#formularioContacto input[type="text"],
#formularioContacto input[type="email"],
#formularioContacto textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gold;
    background-color: rgb(255, 213, 0);
    color: black;
    margin-top: 5px;
}

#formularioContacto input[type="submit"] {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}
.success-message{
    color: green;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0,255,0,0.1);
    padding: 10px;
    border-radius: 5px;
}

#categoria {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid gold;
  background-color: rgb(255, 213, 0); 
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  appearance: none; 
}