body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: gold;
    margin: 0;
    padding: 30px;
    flex-direction: column;
    align-items: center;

}
#buscador {
    width: 50%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gold;
    background-color: rgb(255, 213, 0);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0);
    padding: 15px 20px;
    width: 80%;
    height: 40px;
    max-width: 1000px;
    margin-top: 20px;
    border: 3px solid gold;
    border-radius: 20px;
}
.menu a{
    color: gold;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 0 17px;
    font-size: 0.9em;
}
.menu a:hover {
    background-color: rgba(62, 58, 35, 0.2);
    color: white;
    text-decoration: gold;
}
#categoria {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gold;
    background-color: rgb(255, 213, 0); 
    color: rgb(12, 11, 11);
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    
}
.filtro{
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gold;
    background-color: rgb(255, 213, 0); 
    color: rgb(12, 11, 11);
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer; 
}

#comprare {
    padding-left: 400px;
}

.fila {
    display: flex;
    justify-content: space-between 10px;
}

.producto {
    display: flex;
    background-color: black;
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: 3px 3px 15px;
    width: 700px;
    padding: 10px;
    margin-right: 20px;
}

img {
    align-content: center;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form {
    display: flexbox;
    background-color: black;
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: 3px 3px 15px;
    width: 100vh;
    height: 170vh;
    padding: 50px;
}

input {
    width: 200px;

}

#ima {
    padding-left: 160px;
}

.campo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.campo label {
    width: 200px;
}

.campo input {
    width: 500px;
}

.boton {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 50px;
}

button {
    display: flex;
    background-color: gold;
    color: black;
    border: none;
    padding: 5px 5px;
    border-radius: 7px;
    transition: background-color 0.3s;
    font-size: 16px;
    justify-content: space-between;
}

button:hover {
    background-color: rgba(255, 217, 0, 0.743);
    text-decoration: underline;
}

.producto a {
    color: gold;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 0 17px;
    font-size: 0.9em;
    text-decoration: none;
}

.producto a:hover {
    text-decoration: underline;
}

h2 a,
h3 a {
    text-align: center;
    color: gold;
    padding-bottom: 5px;
    margin-top: 0;
}