body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: gainsboro;
    color: black;
    margin: 0;
    padding: 30px;
    
}
#comprare{
    padding-left: 400px;
}
.fila{
    display: flex;
    justify-content: space-between 10px;
}
.producto{
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px ;
    box-shadow: 3px 3px 15px;
    width: 700px;
    padding: 10px;
    margin-right: 20px;
}
img{
    align-content: center;
    padding: 10px;
}

.info {
    display:flex;
    flex-direction: column;
    padding: 10px;
}
form{
    display: flexbox;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px ;
    box-shadow: 3px 3px 15px;
    width: 100vh;
    height: 170vh;
    padding: 50px;
}

input{
    width: 200px;
    
}
#ima{
    padding-left: 160px;
}
.campo{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.campo label{
    width: 200px;
}
.campo input{
    width: 500px;
}
.boton{
    display: flex;
    justify-content: space-between ;
    margin-top: 30px;
    height: 50px;
}
